{% extends 'overall/layout' %}

{% block appTitle %}
    <title>{{libro.producto}} {{libro.leyenda}} {{libro.codigo}}</title>
    <meta name="title" content="{{libro.producto}} {{libro.leyenda}}. {{libro.codigo}}">
{% endblock %}
{% block ogUrl %}
    <meta property="og:url" content="{{config.build.url}}libro/{{cabeceras.ruta}}">
{% endblock %}
{% block ogImage %}
{% if cabeceras.portada == 'assets/plantilla/img/cabeceras/default/default.jpg' and libro.imagen != 'assets/plantilla/img/productos/default/default.jpg' %}
    <meta property="og:image" content="{{config.build.url}}{{libro.imagen}}">
{% else %}
    <meta property="og:image" content="{{config.build.url}}{{cabeceras.portada}}">
{% endif %}
{% endblock %}

{% block appHeader %}
{# Estilos personalizados para la página #}
<link rel="stylesheet" href="assets/plantilla/libro.css">
<script type="application/ld+json">
{
    "@context": "https://schema.org/",
    "@type": "Product",
    "name": "{{libro.producto}} {{libro.leyenda}}",
    "image": "{{config.build.url}}{{libro.imagen}}",
    "description": "{{libro.descripcion}}",
    "url" : "{{config.build.url}}libro/{{libro.ruta}}",
    "sku": "{{libro.codigo}}",
    "offers" : {
        "@type" : "Offer",
        "price" : "${{libro.precio}}",
        "priceCurrency": "MXN"
    }
}
</script>
{% endblock %}

{% block appBody %}

    <main class="container-fluid mb-5">

        {# .info_producto #}
        <section class="container p-0 info_producto">

            <div class="row">

                {# .enlaces_relacionados #}
                <div class="col-12 my-4 mb-4 mb-sm-4 text-center text-sm-left animated fadeIn enlaces_relacionados">
                    {{categoria_enlace|raw}}
                    {{subcategoria_enlace|raw}}
                </div>

                {# .imagen_libro #}
                <div class="col-12 col-sm-4 col-md-3 px-5 px-sm-3 d-none d-sm-inline animated fadeIn imagen_libro">
                    
                    <div>
                        <img src="{{config.build.url}}{{libro.imagen}}?{{random()}}" width="100%" class="rounded z-depth-3">
                    </div>

                    {# .precios_acciones_libro.movil #}
                    <div class="d-none d-sm-inline d-md-none animated fadeIn precios_acciones_libro movil">
                        
                        {# .precios #}
                        <div class="row m-0 mt-3 text-center rounded z-depth-1 bg-light precios">

                            {{precio|raw}}

                            {{disponibilidad|raw}}

                            {% if oferta is empty %}
                            {#<div class="col-12 bg-light rounded-bottom py-2 border-top puntos_libro">
                                {{puntos}} puntos
                            </div>#}
                            {% else %}
                            {#<div class="col-12 bg-light rounded-bottom py-2 border-top puntos_libro">
                                0 puntos
                            </div>#}
                            {% endif %}
                            
                        </div>
                        {# /.precios #}

                        {# .acciones #}
                        <div class="row m-0 mt-3 d-flex align-items-center pb-3 acciones">

                            <div class="col-4 pl-3 pl-sm-0 pr-1 text-left">
                                <div class="card-icon-actions-lg"> 
                                    <span class="div_deseo{{libro.id}} mr-3">
                                        {% if is_logged %}
                                            {% if deseo == 'no' %}
                                                <a href="#" class="love agregar_deseo" id="{{libro.id}}" data-toggle="tooltip" data-html="true" title="<small><b>Añadir a mi lista de deseos</b></small>"><i class="far fa-heart"></i></a>
                                            {% else %}
                                                <i class="fas fa-heart fa-lg text-red animated pulse infinite"></i>
                                            {% endif %}
                                        {% else %}
                                            <a href="{{config.build.url}}autenticacion" class="love" id="{{libro.id}}" data-toggle="tooltip" data-html="true" title="<small><b>Añadir a mi lista de deseos</b></small>"><i class="far fa-heart"></i></a>
                                        {% endif %}
                                    </span>
                                    <!--<a href="#" class="share" idLibro="{{libro.id}}" compartir="d-block" data-toggle="tooltip" data-html="true" title="<small><b>Compartir</b></small>"><i class="fas fa-share-alt"></i></a>-->
                                </div>
                            </div>
			    
                            <div class="col-8 pr-3 pr-sm-0 pl-1 text-right">
                            {% if libro.stock > 0 %}
                                <button type="button" idLibro="{{libro.id}}" class="btn btn-sm btn-icon boton_color agregar_carrito">
                                    <span class="btn-inner--text">Agregar</span>
                                    <span class="btn-inner--icon"><i class="fas fa-shopping-bag"></i></span>
                                </button>
                            {% endif %}
                            </div>

                            <!--<div class="col-12 mt-3 text-center d-none animated-fast compartir">
                                <button type="button" class="btn btn-sm btn-facebook btn-icon-only rounded-circle border-0">
                                    <span class="btn-inner--icon"><i class="fab fa-facebook-f"></i></span>
                                </button>
                            </div>-->

                        </div> 
                        {# /.acciones #}
                        
                        {#<div class="row p-0 m-0 mt-3 text-center">
                            <img src="{{config.build.url}}assets/plantilla/img/general/envios.svg" class="w-100">
                        </div>#}
                        
                        <div class="text-center mt-3 text-muted rounded p-2 border z-depth-1">
                            <i class="fas fa-shipping-fast fa-lg animated fadeInLeft infinite mr-2"></i> Envío gratis a partir de <strong>$800.00</strong>
                        </div>

                    </div>
                    {# /.precios_acciones_libro.movil #}

                </div>

                {# .datos_libro #}
                <div class="col-12 col-sm-8 col-md-6 pr-3 pr-sm-5 datos_libro">

                    <div class="row">

                        {# .imagen_libro_movil #}
                        <div class="col-4 pr-0 d-inline d-sm-none animated fadeIn imagen_libro_movil">
                            <img src="{{config.build.url}}{{libro.imagen}}?{{random()}}" width="100%" class="rounded z-depth-3">
                        </div>

                        {# .datos_generales #}
                        <div class="col-8 col-sm-12 datos_generales">

                            <h1 class="font-weight-600 mt-0 mb-0 animated zoomIn titulo_libro">
                                {{ libro.producto }}
                            </h1>
                            <h6 class="my-0 animated zoomIn">
                                {{ libro.leyenda }}
                            </h6>

                            <div class="my-1 mt-0 animated zoomInLeft separador separador_color"></div>

                            <p class="m-0 mt-1 animated zoomInRight">

                                <span class="pl-0 autor_libro">
                                    {{ autores_html|raw }}
                                </span>
                                <br>
                                <span class="pl-0 ml-0 editorial_libro">
                                    <span class="mr-1">
                                        SELLO: 
                                    </span> 
                                    <br>
                                    <a class="text-truncate pixelEditorial" href="{{config.build.url}}editorial/{{ruta_editorial}}">
                                        {% if editorial is empty %}
                                            SIN SELLO
                                        {% else %}
                                            {{ editorial }}
                                        {% endif %}
                                    </a>
                                </span>

                            </p>

                            <div class="mt-3 animated zoomInUp">
                                {{oferta|raw}}
                            </div>

                        </div>
                        {# /.datos_generales #}

                    </div>
                    {# /.row #}
                    
                    {# .ficha_tecnica #}
                    <div class="mt-3 table-responsive animated fadeIn ficha_tecnica">
                        <table class="table table-cards align-items-center text-center">
                            <thead>
                                <tr>
                                    <th scope="col" class="py-1 px-2 detalle" style="min-width:30px;">ID</th>
                                    <th scope="col" class="py-1 px-2 detalle" style="min-width:150px;">ISBN-CÓDIGO</th>
                                    {{tr_detalles|raw}}
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="bg-white">
                                    <th scope="row" class="py-1 px-2 font-weight-normal">{{libro.id}}</th>
                                    <td scope="row" class="py-1 px-2">{{libro.codigo}}</td>
                                    {{td_detalles|raw}}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {# /.ficha_tecnica #}

                    {# .sinopsis #}
                    <div class="mt-3 mt-sm-5 text-justify animated fadeIn sinopsis">
                        <h6>SINOPSIS:</h6>
                        <p class="text-justify">
                            {{ descripcion|raw }}
                        </p>
                    </div>
                    {# /.sinopsis #}

                </div>
                {# /.datos_libro #}

                {# .precios_acciones_libro #}
                <div class="col-12 col-sm-3 offset-sm-0 d-sm-none d-md-inline pt-3 pt-sm-0 animated fadeIn precios_acciones_libro">
                    
                    {# .precios #}
                    <div class="row text-center row rounded z-depth-1 bg-light mx-0 precios">

                        {{precio|raw}}

                        {{disponibilidad|raw}}

                        {% if oferta is empty %}
                        {#<div class="col-12 bg-light rounded-bottom py-2 border-top puntos_libro">
                            {{puntos}} puntos
                        </div>#}
                        {% else %}
                        {#<div class="col-12 bg-light rounded-bottom py-2 border-top puntos_libro">
                            0 puntos
                        </div>#}
                        {% endif %}
                        
                    </div>
                    {# /.precios #}

                    {# .acciones #}
                    <div class="row mt-3 d-flex align-items-center pb-3 mx-0 acciones">

                        <div class="col-4 pl-3 pl-sm-0 pr-1 text-left">
                            <div class="card-icon-actions-lg"> 
                                <span class="div_deseo{{libro.id}} mr-3">
                                    {% if is_logged %}
                                        {% if deseo == 'no' %}
                                            <a href="#" class="love agregar_deseo" id="{{libro.id}}" data-toggle="tooltip" data-html="true" title="<small><b>Añadir a mi lista de deseos</b></small>"><i class="far fa-heart"></i></a>
                                        {% else %}
                                            <i class="fas fa-heart fa-lg text-red animated pulse infinite"></i>
                                        {% endif %}
                                    {% else %}
                                        <a href="{{config.build.url}}autenticacion" class="love" id="{{libro.id}}" data-toggle="tooltip" data-html="true" title="<small><b>Añadir a mi lista de deseos</b></small>"><i class="far fa-heart"></i></a>
                                    {% endif %}
                                </span>
                                <!--<a href="#" class="share" idLibro="{{libro.id}}" compartir="d-block" data-toggle="tooltip" data-html="true" title="<small><b>Compartir</b></small>"><i class="fas fa-share-alt"></i></a>-->
                            </div>
                        </div>

                        <div class="col-8 pr-3 pr-sm-0 pl-1 text-right">
                        {% if libro.stock > 0 %}
                            <button type="button" idLibro="{{libro.id}}" class="btn btn-sm btn-icon boton_color agregar_carrito">
                                <span class="btn-inner--text">Agregar</span>
                                <span class="btn-inner--icon"><i class="fas fa-shopping-bag"></i></span>
                            </button>
                        {% endif %}
                        </div>

                        <!--<div class="col-12 mt-3 text-center d-none animated-fast compartir">
                            <button type="button" class="btn btn-sm btn-facebook btn-icon-only rounded-circle border-0">
                                <span class="btn-inner--icon"><i class="fab fa-facebook-f"></i></span>
                            </button>
                        </div>-->

                    </div> 
                    {# /.acciones #}
                    
                    <div class="text-center mt-3 text-muted rounded p-2 border z-depth-1">
                        <i class="fas fa-shipping-fast fa-lg animated fadeInLeft infinite mr-2"></i> Envío gratis a partir de <strong>$800.00</strong><br>
                    </div>
                            
                </div>
                {# /.precios_acciones_libro #}

            </div>
            {# /.row #}
            
        </section>
        {# /.info_producto #}

        
        <div class="container p-0 mt-5">

            <ul class="nav nav-pills nav-fill flex-column flex-sm-row" id="myTab" role="tablist">
                <li class="nav-item mb-1 mb-sm-0">
                    <a class="nav-link py-2 m-0 active" id="libros_subcategoria-tab" data-toggle="tab" href="#libros_subcategoria" role="tab" aria-controls="libros_subcategoria" aria-selected="true">
                        + de {{subcategoria}}
                    </a>
                </li>
                <li class="nav-item mb-1 mb-sm-0">
                    <a class="nav-link py-2 m-0" id="libros_categoria-tab" data-toggle="tab" href="#libros_categoria" role="tab" aria-controls="libros_categoria" aria-selected="false">
                        + de {{categoria}}
                    </a>
                </li>
                <li class="nav-item mb-1 mb-sm-0">
                    <a class="nav-link py-2 m-0" id="libros_editorial-tab" data-toggle="tab" href="#libros_editorial" role="tab" aria-controls="libros_editorial" aria-selected="false">
                        {% if editorial != 'Sin editorial' %}
                            + de {{editorial}}
                        {% else %}
                            Más sin sello
                        {% endif %}
                    </a>
                </li>
            </ul>

            <div class="tab-content p-2 pt-5 border-right border-left border-bottom rounded-bottom" id="myTabContent">
                <div class="tab-pane fade show active" id="libros_subcategoria" role="tabpanel" aria-labelledby="libros_subcategoria-tab">
                    {% if libros_subcategoria is empty %}
                        <p class="text-center mb-5 text-muted">No hay más libros asociados a {{subcategoria}}.</p>
                    {% else %}
                        {{libros_subcategoria|raw}}
                    {% endif %}
                </div>
                <div class="tab-pane fade" id="libros_categoria" role="tabpanel" aria-labelledby="libros_categoria-tab">
                    {% if libros_categoria is empty %}
                        <p class="text-center mb-5 text-muted">No hay más libros asociados a {{categoria}}.</p>
                    {% else %}
                        {{libros_categoria|raw}}
                    {% endif %}
                </div>
                <div class="tab-pane fade" id="libros_editorial" role="tabpanel" aria-labelledby="libros_editorial-tab">
                    {% if libros_editorial is empty %}
                        <p class="text-center mb-5 text-muted">No hay más libros asociados a la editorial {{editorial}}.</p>
                    {% else %}
                        {{libros_editorial|raw}}
                    {% endif %}
                </div>
            </div>
        </div>


    </main>
    
{% endblock %}

{% block appFooter %}
	<script src="assets/jscontrollers/libro/libro.js"></script>
{% endblock %}