{#<footer class="footer mt-5 py-3 container-fluid">

</footer>#}


<footer class="pt-5 pb-3 footer footer-dark">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="pr-lg-5">
              {{ logotipo.logotipo_header|raw }}
              <h1 class="heading h6 font-weight-700 mb-3"><strong>¡Gracias por tu preferencia!</strong></h1>
              <ul class="fa-ul">
	            <li class="py-1"><span class="fa-li"><i class="mr-2 fas fa-map-marker-alt"></i></span>Instituto Literario, esquina, Juan Aldama 300-A, 50130 <b>Toluca de Lerdo</b>, Méx.</li>
                <li class="py-1"><span class="fa-li"><i class="mr-2 far fa-clock"></i></span>Lunes a Sábado 10:00 - 19:00 (El horario puede cambiar en días feriados)</li>
              </ul>
              <p>Encuentra con nosotros materiales de media superior como DGB, COBAEM, EPOEM, UAEM, CBT, CETIS, CEBETIS, CECYTEM, CONALEP o si lo que buscas es un buen libro para leer contamos con un gran surtido en literatura clásica, contemporánea, infantiles y de interés general además si el libro que buscas no lo tenemos, te ayudamos a conseguirlo.</p>
              <p>Para compras en línea aceptamos tarjeta de crédito y débito o si lo prefieres puedes pagar en efectivo con un vale en OXXO.</p>
            </div>
          </div>
          <div class="col-6 col-md">
            <h5 class="heading h6 text-uppercase font-weight-700 mb-3">bachillerato</h5>
            <ul class="list-unstyled text-small">
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/quimica/55">Quimica</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/fisica/62">Fisica</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/biologia/56">Biologia</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/matematicas/57">Matematicas</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/lenguaje-y-comunicacion/59">Lenguaje y comunicacion</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/humanidades/60">Humanidades</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/historia/61">Historia</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/sociologia/63">Sociologia</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/geografia/153">Geografia</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/salud/58">Salud</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/derecho/149">Derecho</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/economia/152">Economia</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/metodologia-de-la-investigacion/133">Metodologia de la investigacion</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/informatica/64">Informatica</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/talleres/154">Talleres</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/educacion-media-superior-bachillerato/5">y más . . .</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5 class="heading h6 text-uppercase font-weight-700 mb-3">Literatura</h5>
            <ul class="list-unstyled text-small">
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/ficcion-y-fantasia/10">Ficcion y fantasia</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/poesia/26">Poesia</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/terror-y-suspenso/51">Terror y suspenso</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/policiaca-y-suspenso/15">Policiaca y suspenso</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/juvenil/16">Juvenil</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/autoayuda/13">Autoayuda</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/historica/53">Historica</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/narrativa-universal/76">Universal</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/narrativa-iberoamericana/146">Iberoamericana</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/politica/22">Politica</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/erotica/71">Erotica</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/cuento/19">Cuento</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/novela/18">Novela</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/tanatologia/111">Tanatologia</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/espiritualidad/148">Espiritualidad</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/mitos-y-leyendas/141">Mitos y leyendas</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/literatura/8">y más . . .</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5 class="heading h6 text-uppercase font-weight-700 mb-3">Sagas</h5>
            <ul class="list-unstyled text-small">
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/harry-potter/27">Harry Potter</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/cazadores-de-sombras/28">Cazadores de sombras</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/after/29">After</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/crepusculo/38">Crepusculo</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/cancion-de-hielo-y-fuego/30">Cancion de cielo y fuego</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/cincuenta-sombras-de-grey/31">Cincuenta sombras de Grey</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/las-cronicas-de-narnia/33">Cronicas de Narnia</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/los-juegos-del-hambre/140">Los juegos del hambre</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/los-heroes-del-olimpo/37">Los heroes del Olimpo</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/el-fin-de-los-tiempos/49">El fin de los tiempos</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/percy-jackson/35">Percy Jackson</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/maze-runner/32">Maze Runner</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/caballo-de-troya/36">Caballo de Troya</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/las-pruebas-de-apolo/135">La pruebas de Apolo</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/los-reyes-malditos/139">Los reyes malditos</a></li>
              <li><a class="enlace_blanco" href="{{config.build.url}}libros/sagas/10">y más . . .</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5 class="heading h6 text-uppercase font-weight-700 mb-3">Opciones</h5>
            <ul class="list-unstyled text-small">
              <li><a class="enlace_blanco" href="{{config.build.url}}compra/">Mi cesta <span class="btn-inner--icon"><i class="fas fa-shopping-bag"></i></span> <span class="btn-inner--text"><label class="m-0 cantidad_carrito">({{cantidad_carrito}})</label></span></a></li>
              {% if is_logged %}
                <li><a class="enlace_blanco" href="{{config.build.url}}cuenta/mis-datos"><span class="btn-inner--icon"><i class="fas fa-user-cog"></i></span> Mis datos</a></li>
                <li><a class="enlace_blanco" href="{{config.build.url}}cuenta/lista-deseos"><span class="btn-inner--icon"><i class="fas fa-heart"></i></span> Mi lista de deseos</a></li>
                <li><a class="enlace_blanco" href="{{config.build.url}}cuenta/mis-compras"><span class="btn-inner--icon"><i class="fas fa-book-open"></i></span> Mis compras</a></li>
                <li><a class="enlace_blanco" href="{{config.build.url}}cuenta/cambiar-contrasena"><span class="btn-inner--icon"><i class="fas fa-user-lock"></i></span> Cambiar contraseña</a></li>
                <li></li>
                <li><a class="enlace_blanco" href="{{config.build.url}}salir"><span class="btn-inner--icon"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
              {% else %}
                <li><a class="enlace_blanco" href="{{config.build.url}}autenticacion/"><span class="btn-inner--icon"><i class="fas fa-sign-in-alt"></i></span> Ingresa a tu cuenta</a></li>
                <li><a class="enlace_blanco" href="{{config.build.url}}autenticacion/recuperar"><span class="btn-inner--icon"><i class="fas fa-key"></i></span> Solicitar contraseña</a></li>
                <li><a class="enlace_blanco" href="{{config.build.url}}autenticacion/registro"><span class="btn-inner--icon"><i class="fas fa-user-plus"></i></span> Regístrate</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-12 col-md-4 text-center text-md-left">
            &copy; {{ "now"|date("Y") }} <strong>{{ config.build.name }}</strong>
          </div>
          <div class="col-12 col-md-8 text-center text-md-right">
              <a class="enlace_blanco px-2 py-3 d-block d-sm-inline" href="{{config.build.url}}informacion/contacto"><i class="fas fa-at"></i> Contáctanos</a>
              <a class="enlace_blanco px-2 py-3 d-sm-inline" href="https://www.facebook.com/El-timón-librería-247638102062702/" target="_blank"><i class="fab fa-facebook"></i> Facebook</a>
              <a class="enlace_blanco px-2 py-3 d-block d-sm-inline" href="{{config.build.url}}informacion/ayuda"><i class="fas fa-question-circle"></i> Ayuda</a>
          </div>
        </div>
      </div>
    </footer>


{#<div class="container-fluid derechos">
	<div class="container p-0 text-center text-md-left">
	    <div class="row py-3">
	        <div class="col-12 col-md-6">
	            &copy; {{ "now"|date("Y") }} {{ config.build.name }}
	        </div>
	        <div class="col-12 col-md-6 mt-2 mt-md-0 text-center text-md-right">

				<a class="px-2 py-2 d-block d-sm-inline" href="{{config.build.url}}informacion/contacto">
					Contáctanos
				</a>

				<!--<a class="px-2 py-2 d-block d-sm-inline" href="{{config.build.url}}informacion/privacidad">
					Aviso de privacidad
				</a>-->
				
			</div>
	    </div>
	</div>
</div>#}