<div class="box box-solid" id="boxColores">
	
	<div class="box-header with-border">
		
		<h3 class="box-title">COLORES</h3>

		<div class="box-tools pull-right">

        </div>

	</div>

 	<div class="box-body">
		
		<div class="text-center">
 			<label>Barra superior</label>
 		</div>

		<label for="colorInput1" style="font-weight:normal;">Color del fondo:</label >
		<div class="input-group" id="color1">
      		
			<input type="text" class="form-control" id="colorInput1" value="{{plantilla.fondoBarraSuperior}}">

  		<div class="input-group-addon" id="colorMuestra1" style="cursor: pointer; color: {{plantilla.fondoBarraSuperior}}; background: #FCFCFC; padding: 0px 10px;">

  			<i class="fa fa-stop"></i>

  		</div>
    	
    </div>
		<br>
		<label for="colorInput2" style="font-weight:normal;">Color del texto:</label>
		<div class="input-group" id="color2">
      		
			<input type="text" class="form-control" id="colorInput2" value="{{plantilla.colorTextoBarraSuperior}}">

  		<div class="input-group-addon" id="colorMuestra2" style="cursor: pointer; color: {{plantilla.colorTextoBarraSuperior}}; background: #FCFCFC; padding: 0px 10px;">

  			<i class="fa fa-stop"></i>

  		</div>
    	
    </div>
		<br>
		<label for="colorInput3" style="font-weight:normal;">Color al pasar sobre el texto:</label>
	    <div class="input-group" id="color3">
      		
			<input type="text" class="form-control" id="colorInput3" value="{{plantilla.colorTextoHoverBarraSuperior}}">

  		<div class="input-group-addon" id="colorMuestra3" style="cursor: pointer; color: {{plantilla.colorTextoHoverBarraSuperior}}; background: #FCFCFC; padding: 0px 10px;">

  			<i class="fa fa-stop"></i>

  		</div>
    	
    </div>
		<br>
	  <label for="colorInput4" style="font-weight:normal;">Color borde:</label>
		<div class="input-group" id="color4">
      		
			<input type="text" class="form-control" id="colorInput4" value="{{plantilla.borderDivisor}}">

  		<div class="input-group-addon" id="colorMuestra4" style="cursor: pointer; color: {{plantilla.borderDivisor}}; background: #FCFCFC; padding: 0px 10px;">

  			<i class="fa fa-stop"></i>

  		</div>
    	
    </div>
		<br>
	    <div class="text-center">
 			<label>Plantilla</label>
 		</div>
		
		<label for="colorInput5" style="font-weight:normal;">Color principal:</label>
		<div class="input-group" id="color5">
      		
			<input type="text" class="form-control" id="colorInput5" value="{{plantilla.colorPlantilla}}">

  		<div class="input-group-addon" id="colorMuestra5" style="cursor: pointer; color: {{plantilla.colorPlantilla}}; background: #FCFCFC; padding: 0px 10px;">

  			<i class="fa fa-stop"></i>

  		</div>
    	
    </div>
		<br>
		<label for="colorInput6" style="font-weight:normal;">Color secundario:</label>
		<div class="input-group" id="color6">
      		
			<input type="text" class="form-control" id="colorInput6" value="{{plantilla.colorPlantillaDos}}">

  		<div class="input-group-addon" id="colorMuestra6" style="cursor: pointer; color: {{plantilla.colorPlantillaDos}}; background: #FCFCFC; padding: 0px 10px;">

  			<i class="fa fa-stop"></i>

  		</div>
    	
    </div>

 	</div>

 	<div class="box-footer">
      
    	<button type="button" id="guardarColores" class="btn btn-sm bg-navy pull-right" disabled>Actualizar colores</button>
    
  	</div>

</div>