{% extends 'overall/layout' %}

{% block appTitle %}
    <title>Libros de {{autor}}</title>
    <meta name="title" content="Libros de {{autor}}">
{% endblock %}
{% block appDescription %}
    <meta name="description" content="Libros de {{autor}}">
{% endblock %}
{% block appKeyword %}
    <meta name="keyword" content="Libros de {{autor}},{{autor}}"> 
{% endblock %}
{% block appImage %}{% endblock %}
{% block ogTitle %}  
    <meta property="og:title" content="Libros de {{autor}}">
{% endblock %}
{% block ogUrl %}
    <meta property="og:url" content="{{config.build.url}}autor/{{metodo}}">
{% endblock %}
{% block ogdescription %}
    <meta property="og:description" content="Libros de {{autor}}">
{% endblock %}
{% block ogImage %}
    <meta property="og:image" content="{{config.build.url}}assets/plantilla/img/cabeceras/default/default.jpg">
{% endblock %}

{% block appBody %}

    <main class="container mt-2 destacados mb-5">
        <input type="hidden" value="{{metodo}}" id="metodo">
        <div class="row px-0 align-items-center">
            <div class="col-12 col-sm-6 col-md-7 col-lg-8">
                <p class="m-0 p-0 text-muted font-weight-bold animated fadeIn"><span class="coincidencias"></span></p>
                <h1 class="m-0 p-0 animated fadeIn titulo_destacado"><i class="fas fa-user-tie"></i> {{autor}}</h1>
				<div class="my-1 animated fadeIn separador separador_color"></div>
            </div>
            <div class="col-12 col-sm-6 col-md-5 col-lg-4 text-right pt-3 pt-md-0">
                <div class="input-group input-group-sm mb-0 animated fadeIn my-auto">
                    <div class="input-group-prepend">
                        <label class="input-group-text text-uppercase py-1" for="ordenar_resultados"><small>Ordenar por</small></label>
                    </div>
                    <select class="custom-select custom-select-sm" id="ordenar_resultados">
                        <option value="relevancia">Relevancia</option>
                        <optgroup label="Nombre">
                            <option value = "nombre">Nombre de la A-Z</option>
                            <option value = "nombre_desc">Nombre de la Z-A</option>
                        </optgroup>
                        <optgroup label="Precio">
                            <option value = "precio">Precio de menor a mayor</option>
                            <option value = "precio_desc">Precio de mayor a menor</option>
                        </optgroup>

                    </select>
                </div>
            </div>

            <div class="col-12 mt-2">
                <div class="row" id="resultados">
                    
                </div>
            </div>

            <div class="col-12 mt-5">
                <div class="text-center div_cargando">
                    <button type="button" class="btn btn-sm boton_negro" id="boton_cargar_mas">
                        <span class="spinner-grow spinner-grow-sm d-none" role="status" aria-hidden="true"></span>
                        Mostrar más resultados
                    </button>
                    <p class="text-muted d-none animated flash div_cargando_texto"></p>
                </div>
            </div>

        </div>
    </main>
    
{% endblock %}

{% block appFooter %}
    <script src="assets/jscontrollers/autor/autor.js"></script>
{% endblock %}